
.calculator-container{
    width: 340px;
    height: 400px;
    padding: 2px;
    border: 2px solid grey;
    display: grid;
    background-color: black;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: 
    "display"
    "buttons";
}

.display{
    margin: 2px;
    font-family: monospace;
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align:right;
}

.input-display{
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.6em;
    color: white;
}
.result-display{
    grid-row-start: 1;
    grid-row-end: 2;
    color: coral;
    font-size: 1.2em;
}

.buttons-container{
    /* justify-content: center; */
    margin: 2px;
    padding: 2px;
    border: 1px solid red;

    display: grid;
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.numbers-container{
    /* father grid */
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 6;

    /* content grid */
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.button{
    background-color: darkgray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover{
    box-shadow: 0px 0px 1px 1px white;
}

.num-btn{
    background-color: darkslategray;
}

.operator-btn{
    background-color: grey;
}
/* btn 0 is wider */
.zero{
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
}

/* AC btn is wider and red */
.AC-btn {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    /* grid-area: AC-btn; */
    background-color: red;
}

/* = btn is taller and blue */
.equal-btn{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    /* grid-area: equal-btn; */
    background-color:cornflowerblue;
}